
@{
    ViewBag.Title = "VerificarExistencia";
}
@section scripts{
    <script>
     //   var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
     //   var urlExistencia = '@Url.Action("VerificarExistencia", "Cliente", new { area = "" })'
          var urlBeneficiario = '@Url.Action("Beneficiario", "Cliente", new { area = "" })'
    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")